* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #f5f3f2;
}
.body {
	width: 70%;
	padding: 50px;
	margin: auto;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	-webkit-box-shadow: 19px -16px 12px 4px rgba(34, 60, 80, 0.19);
    -moz-box-shadow: 19px -16px 12px 4px rgba(34, 60, 80, 0.19);
    box-shadow: 19px -16px 12px 4px rgba(34, 60, 80, 0.19);
}
.photo {
	width: calc(50% - 40px);
	height: calc((35vw - 40px) / 16 * 9);
	margin: 10px;
	background-color: red;
	background-position: top;
	background-size: cover;
	-webkit-box-shadow: 8px -1px 12px 4px rgba(34, 60, 80, 0.29);
    -moz-box-shadow: 8px -1px 12px 4px rgba(34, 60, 80, 0.29);
    box-shadow: 8px -1px 12px 4px rgba(34, 60, 80, 0.29);
    transition: all 1s ease;
}
h1{
 transform: rotate(5deg) scale(0.90);
  transition: all 5s ease;
  background-color: grey;
  color: red;

}

.photo:hover{
	transform: rotate(3deg) scale(0.90);
}

 .title{
 	margin: 40px;
 	width: 100%;
 	text-align: center;
 	font-size: 40px;
}
.photo1{
	background-image: url(..//фортнайт.jpg);
}
.photo2{
	background-image: url(..//фортнайт1.jpg);
}
.photo3{
	background-image: url(..//фортнайт2.jpg);
}
.photo4{
	background-image: url(..//фортнайт3.jpg);
}
.photo5{
	background-image: url(..//фортнайт4.jpg);
}
.photo6{
	background-image: url(..//фортнайт5.jpg);
}
.photo7{
	background-image: url(..//фортнайт6.jpg);
}
.photo8{
	background-image: url(..//фортнайт7.jpg);
}
.photo9{
	background-image: url(..//фортнайт8.jpg);
}

.photo10{
	background-image: url(..//фортнайт9.jpg);
}
.photo11{
	background-image: url(..//фортнайт10.jpg);
}
.photo12{
	background-image: url(..//фортнайт11.jpg);
}


